*.csv
*.xlsx
*.db
*.sqlite
*settings/settings.json
!data/input/anap/demo.xlsx
!data/input/cnam/demo.xlsx
!data/input/cnsa/demo.xlsx
!data/input/diamant/demo.xlsx
!data/input/insee/demo.csv
!data/input/sirec/demo.xlsx
!data/input/sivss/demo.xlsx
!data/input/finess/demo.xlsx
!data/to_csv/demo.csv
!data/output/demo.csv
!data/database/demo.db
